<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecTool.Properties.Settings.ConnectionString" connectionString="Dsn=Excel Files"
            providerName="System.Data.Odbc" />
        <add name="RecTool.Properties.Settings.RECONConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=RECON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RecTool.Properties.Settings.RECONConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RECON;Integrated Security=True" />
    </connectionStrings>
</configuration>